.cabecalho{
  display: flex;
  justify-content: space-between;/*separar igualmente logo e carrinho*/
  align-items: flex-end;/*alinhar pela base*/

  box-sizing: border-box;

  width: 100%;

  padding-bottom: .75rem;
  padding-top: .75rem;
}

.cabecalho__logo{
  width: 11.125rem;
}

.cabecalho__carrinho{
  width: 1.75rem;
}